.index-title {
  text-align: center;
  font-size: 84px;
  padding-top: 60px;
  margin-bottom: 60px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.grid-item {
  height: 400px;
  overflow: hidden;

  .grid-img {
    background-image: url("Midnight-01.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s transform ease-in-out;
  }

  p {
    display: none;
    z-index: 1;
    text-align: center;
    font-size: 39px;
  }

  &:hover {
    .grid-img {
      background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                        url("Midnight-01.jpg");
      transform : scale(1.05, 1.05);
    }

    p {
      display: block;
    }
  }
}
