.navbar {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 10px;
  margin-top: 20px;
  position: sticky;
  top: 0px;
  background: black;
  z-index: 1;
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
}

.hide {
  transform: translateY(-100%);
}

.navbar-content {
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-brand {
  color: $light-gray;
}

.nav-link {
  font-size: 24px;
  margin: 0px 20px;
  padding: 0px !important;
  display: inline-block;
  position: relative;
  color: $light-gray;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $light-gray;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover {
    color: $light-gray;
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  &.active {
    color: $light-gray !important;
    &::after {
      transform: scaleX(1);
    }
  }
}

.navbar-toggler {
  width: 35px;
  height: 35px;
  padding: 0px;
  position: relative;
}

.toggler-icon {
  display: block;
  height: 1px;
  width: 100%;
  background: white;
  position: absolute;
  transition: transform 0.2s ease-in-out;

  &.nav-top {
    transform: translateY(5px);
  }

  &.nav-bottom {
    transform: translateY(-5px);
  }

  &.top-menu-active {
    transform: translateY(0px);
    transform: rotate(225deg);
  }

  &.bottom-menu-active {
    transform: translateY(0px);
    transform: rotate(-225deg);
  }
}
